body {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.products, .contacts, .partners, .advantages {
  max-width: 1280px;
  margin: 0 auto;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/main.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 999;
}

.logo_img-size {
  height: 54px;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__link {
  list-style-type: none;
  margin: 20px 25px;
}

.menu-header__link_color, .menu-header__link_color:hover {
  color: #f2f2f2;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__tel, .callback__tel:hover {
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  margin-right: 15px;
  font-size: 20px;
}

.main-content {
  height: 100vh;
}

.main-content__text {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.main-content__title {
  color: #fff;
}

.main-content__subtitle {
  color: #f2f2f2;
}

.main-content__btn {
  margin: 25px;
}

.main-content__btn-down {
  width: 100%;
  text-align: center;
}

.title__style {
  text-transform: uppercase;
  text-align: center;
  padding: 75px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  width: 300px;
}

.card-img_size {
  height: 187px;
}

.card-body {
  text-align: center;
}

.card-link {
  color: #27AE60;
}

.card-link:hover {
  color: #6FCF97;
}

.delivery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.delivery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 500px;
}

.delivery__special-text_font {
  font-family: "Roboto", sans-serif;
}

.partners__image_size {
  width: 200px;
}

.modal-body_font {
  font-family: "Roboto", sans-serif;
}

.headerScroll {
  background-color: rgba(51, 51, 51, 0.7);
}
/*# sourceMappingURL=style.css.map */