* {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.advantages .delivery {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 75px;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
}

.title__style {
  text-align: center;
  padding: 75px;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* main */
.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/main.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* header */
header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 999;
}

.logo_img-size {
  height: 54px;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__link {
  list-style-type: none;
  margin: 20px 25px;
}

.menu-header__link_color, .menu-header__link_color:hover {
  color: #f2f2f2;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__tel, .callback__tel:hover {
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  margin-right: 15px;
  font-size: 20px;
}

/* main-content */
.main-content {
  height: 100vh;
}

.main-content__text {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.main-content__title {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.main-content__subtitle {
  color: #f2f2f2;
  margin-bottom: 25px;
  text-align: center;
}

.main-content__btn {
  margin: 25px;
  width: 250px;
  height: 50px;
}

.main-content__btn-down {
  width: 100%;
  text-align: center;
}

/* products */
.products {
  padding-bottom: 75px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
}

.card {
  width: 325px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover .card-img_size {
  width: 100%;
  height: 188px;
  margin: 0;
}

.card:hover .list-group-item:hover {
  background-color: #E0E0E0;
  text-align: center;
}

.card-img_size {
  height: 168px;
  width: 90%;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-body {
  text-align: center;
}

.card-link {
  color: #27AE60;
}

.card-link:hover {
  color: #6FCF97;
}

/* advantages */
.advantages {
  background-color: #E0E0E0;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1280px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);
  opacity: 0;
  border-radius: 5px;
}

.advantages__item {
  position: relative;
  width: 33.3%;
  height: 33.3vh;
  border: 1px solid #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: #f2f2f2;
}

.advantages__item:hover {
  background-color: #fff;
}

.advantages__item:hover .advantages__number {
  opacity: 0.5;
}

.advantages__item:hover .advantages__text {
  opacity: 1;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellowgreen;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.advantages__text {
  font-size: 35px;
  line-height: 35px;
  opacity: 0.9;
  z-index: 998;
}

.advantages__number {
  position: absolute;
  bottom: -60px;
  right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 200px;
  opacity: 0.2;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  letter-spacing: -10px;
  cursor: default;
}

.advantages__text_font {
  font-family: "Roboto", sans-serif;
}

.advantages__img {
  width: 65px;
  height: 65px;
  text-align: center;
  margin-bottom: 10px;
}

/* delivery */
.delivery {
  padding-bottom: 25px;
}

.delivery-main {
  opacity: 0;
}

.delivery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.delivery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 500px;
}

.delivery__img_size {
  width: 64px;
  height: 64px;
}

.delivery__headline {
  margin-top: 15px;
}

.delivery__special-text_font {
  font-family: "Roboto", sans-serif;
}

/* offer */
.offer {
  padding-bottom: 75px;
  background-color: #2D9CDB;
  color: #f2f2f2;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.offer__group {
  margin: 25px;
}

.offer__input {
  width: 250px;
}

.offer__input_font {
  font-family: "Roboto", sans-serif;
}

.offer__btn {
  width: 250px;
}

/* partners */
.partners {
  background-color: #fff;
  padding-bottom: 75px;
}

.partners__image {
  background-color: #fff;
  margin: 25px;
}

.partners__images-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.partners__images-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.partners__image_size_s {
  width: 400px;
  height: 150px;
}

.partners__image_size_l {
  width: 220px;
  height: 200px;
}

.partners__image_size {
  width: 100%;
  height: 100%;
}

/* contacts */
.contacts {
  background-color: #4F4F4F;
  color: #f2f2f2;
  padding-bottom: 75px;
}

.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-info, .contacts-form {
  width: 50%;
  min-height: 500px;
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 50px;
}

.contacts-info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts__logo {
  margin-top: 50px;
}

.contacts__logo_size {
  width: 250px;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts-form__input_font, .contacts-info__data_font {
  font-family: "Roboto", sans-serif;
}

.contacts-info__data_font, .contacts-info__data_font:hover {
  color: #f2f2f2;
}

.contacts-form__input_size {
  width: 250px;
}

.contacts-form__area_size {
  min-height: 150px;
  width: 350px;
}

/* footer */
footer {
  padding: 25px;
  background-color: #333;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  color: #f2f2f2;
}

.copyright__text_font {
  font-family: "Roboto", sans-serif;
}

.by {
  width: 100%;
  text-align: center;
}

.by__link, .by__link:hover {
  color: #FF881E;
  font-family: "Roboto", sans-serif;
}

.footer-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-callback__tel, .footer-callback__tel:hover {
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.modal-body_font {
  font-family: "Roboto", sans-serif;
}

.headerScroll {
  background-color: rgba(51, 51, 51, 0.7);
}

.opacity {
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* media */
@media all and (max-width: 480px) {
  .desktop, .menu-header, .main-content__btn-down {
    display: none;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 5px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    text-decoration: underline;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #BDBDBD;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 45px;
    padding-top: 125px;
    background: #4F4F4F;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: .8;
  }
  #menu li {
    padding: 10px 0;
    font-size: 16px;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
  .main-content__title {
    font-size: 25px;
  }
  .main-content__subtitle {
    font-size: 20px;
  }
  .title__style {
    padding: 25px;
    font-size: 40px;
  }
  .contacts-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-info, .contacts-form {
    width: 100%;
  }
  .menu-header__link_color {
    color: #333;
  }
  .card {
    margin-bottom: 50px;
  }
  .advantages__title {
    font-size: 35px;
  }
  .advantages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .advantages__item {
    border: none;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 15px;
    width: 100%;
  }
  .advantages__text {
    width: 100%;
    font-size: 25px;
  }
  .advantages__number {
    font-size: 125px;
  }
  .dropdown-menu__logo_bgColor {
    background-color: #333;
  }
  .delivery__title {
    font-size: 30px;
  }
  .delivery__headline {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .delivery__purchase {
    margin-top: 35px;
  }
  .contacts-info {
    min-height: 325px;
    padding-top: 0;
  }
  .contacts-form__area_size {
    width: 100%;
  }
  .footer-callback {
    margin-bottom: 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright {
    text-align: center;
    width: 100%;
  }
  .footer-content {
    margin-bottom: 25px;
  }
  section {
    padding-bottom: 25px !important;
  }
}

@media all and (min-width: 1280px) {
  .phone {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */